/* Write your CSS here */
.background-container {
  background-color: #93c5fd;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px){
  .background-container{
    padding: 10px;
  }
}
.card-container {
  background-color: #f8fafc;
  padding: 25px;
  font-family: 'Roboto';
  border-radius: 16px;
  border: 1px solid #cbd2d9;
  width: 80%;
}
@media (max-width: 767px){
  .card-container{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.heading {
  font-family: 'Roboto';
  color: #000000;
  font-size: 42px;
  font-weight: 800;
  padding-left: 32px;
}
@media (max-width: 767px){
  .heading{
    font-size: 18px;
    padding-left: 0px;
  }
}
.select-box {
  height: 50px;
  width: 250px;
  margin-left: 40px;
  font-family: 'Roboto';
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}
.options-style {
  font-family: 'Roboto';
  color: #323f4b;
  font-weight: 600;
  font-size: 16px;
}
.label-style {
  font-family: 'Roboto';
  color: #323f4b;
  margin-left: 2px;
  font-size: 18px;
}
.para {
  font-family: 'Roboto';
  font-size: 28px;
  color: #1e293b;
  margin-left: 40px;
  font-weight: 800;
}
@media (max-width: 767px){
  .select-box{
    height: 20px;
    width: 100px;
    font-size: 12px;
    margin-left: 0px;

  }
  .options-style{
    font-size: 12px;
  }
  .label-style{
    font-size: 12px;
  }
  .para{
    font-size: 22px;
    margin-left: 0px;
  }
}